# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Jake Coding Things\Swen-262-Comix-R1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
